apiVersion: v1
kind: ConfigMap
metadata:
  name: envoy-gateway-config
  namespace: envoy-gateway-system
data:
  envoy-gateway.yaml: |
    provider:
      type: Kubernetes
      kubernetes:
        envoyService:
          type: LoadBalancer

