apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-init
  namespace: kubechart
  labels:
    app: postgres
data:
  init.sql: |
    -- Create database
    CREATE DATABASE kubechart;
    
    -- Connect to the kubechart database
    \connect kubechart
    
    -- Create extensions if needed
    CREATE EXTENSION IF NOT EXISTS "uuid-ossp";
    
    -- Grant privileges
    GRANT ALL PRIVILEGES ON DATABASE kubechart TO deployer_user;
    GRANT ALL PRIVILEGES ON SCHEMA public TO deployer_user;
    ALTER DEFAULT PRIVILEGES IN SCHEMA public GRANT ALL ON TABLES TO deployer_user;
    ALTER DEFAULT PRIVILEGES IN SCHEMA public GRANT ALL ON SEQUENCES TO deployer_user;
