apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-data
  namespace: kubechart
  labels:
    app: postgres
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: platform-storageclass
  resources:
    requests:
      storage: 3Gi
